/* Webfont: TypewriterInked-Regular */@font-face {
    font-family: 'TypewriterInked';
    src: url('TypewriterInked-Regular.eot'); /* IE9 Compat Modes */
    src: url('TypewriterInked-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('TypewriterInked-Regular.woff') format('woff'), /* Modern Browsers */
         url('TypewriterInked-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('TypewriterInked-Regular.svg#TypewriterInked-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

