<footer class="site-footer h-card">

    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
  
      <h2 class="footer-heading">{{ site.title | escape }}</h2>


      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
            Till H.L. Zemann
            <li class="p-name">
              </li>
              {%- if site.email -%}
              <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
              {%- endif -%}
          </ul>
        </div>


        <div class="footer-col footer-col-2">
          <!-- github & linkedin -->
          {%- include social.html -%}
        </div>


        <div class="footer-col footer-col-3">
          <ul class="contact-list">
            If you'd like to share book recommendations:
            <li class="p-name">
              </li>
              <!-- Goodreads -->
              <img src="/images/assets/goodreads.png" style="width: 20px;"/>
              <a href=" https://www.goodreads.com/till2 ">goodreads.com/till2</a><br>
          </ul>
        </div>


      </div>
    </div>
</footer>