---
---
@import "minima";

@font-face {
  font-family: "wigendatypewrite";
  src: url("../assets/fonts/WigendaTypewrite.ttf");
}

@font-face {
  font-family: "wigendatypewrite-semibold";
  src: url("../assets/fonts/WigendaTypewrite-SemiBold.ttf");
}

@font-face {
  font-family: "wigendatypewrite-bold";
  src: url("../assets/fonts/WigendaTypewrite-Bold.ttf");
}

h1 {
    font-family: "wigendatypewrite-semibold";
}

h2 {
    font-family: "wigendatypewrite-semibold";
    margin-top: 20px;
}

h3 {
    font-family: "wigendatypewrite-semibold";
}

h4 {
    font-family: "wigendatypewrite-semibold";
}

p, li, a {
    /* font-family: "wigendatypewrite";*/  /* using a custom font here, otherwise just delete*/
    text-align: justify;
}

.firstletter::first-letter {
  display: inline-block;  font-family: "Times New Roman", Times, serif;
  font-size: 200%;
  color: #8A2BE2;
} 

.img-block {
    margin: auto;
    display: block;
    text-align: center;
    font-style: italic;
    font-size: 0.8em;
    margin-bottom: 20px;
}

 /* Three image containers (use 25% for four, and 50% for two, etc) */
.column1 {
  margin: auto;
  float: center;
  width: 60%;
  padding: 5px;
}

.column2 {
  float: left;
  width: 90%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
} 

figure highlight {
  cursor: crosshair;
}

img {
  /* box-shadow: 8px 8px 26px -10px rgba(0,0,0,0.75); */
}

img.home{
  border-radius: 2%;
  /* box-shadow: 8px 8px 26px -15px rgba(0,0,0,0.5); */
}


pre.highlight {
    color: black;
    border: 2px solid rgba(43, 69, 61, 0.1);
}

.gist {
   max-width:1900px;
   width: 840px;
   overflow:auto;
}


div.output {
    
    /* CODE */
    background-color: #aaf0aa;

    margin: none;
    padding: 10px;

    border: 5px solid rgba(43, 69, 61, 0.1);
    backface-visibility: hidden;
    border-radius: .375rem;
    border-width: .125rem;
    box-sizing: border-box;


    /* BOX */
    background-repeat: no-repeat;
    background-size: 300px 100px;
  
    /* TEXT COLOR */
    color: #3e4e5c; /* grey */
    text-decoration: none !important;

  
    display: grid; /* flex for full screen*/

    /* FONT */
    font-family: Circular,Helvetica,sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: -.01em;
    line-height: 1.3;

    margin-bottom: 25px;
}

div.output:before {
  content:">>> output:";
  color: #768b99; /* grey 1E72E7 */
  margin-bottom: 5px;
}


.implem {
    width: 500px;
    display: block;
    margin: auto;
    background-color: #F2F2F2;
    border: 1px solid #404040;
    border-radius: 5px;
    padding: 10px;
    font-size: 0.9em;
}

.implem-step {
    padding: 10px 0px 10px 0px;
}

.indent-1 {
    margin-left: 25px;
}

.indent-2 {
    margin-left: 50px;
}

.indent-3 {
    margin-left: 75px;
}

.summary-table thead td{
    font-weight: bold;
}

.prob-table {
    text-align: center;
    border: none;
    width: auto;
    margin: auto;

    td {
        width: 70px;
        height: 40px;
        border: none;
        padding: 0;
    }

    tr {
        background-color: transparent !important;
    }
}

.table-wrap {
    margin-bottom: 30px;
}

.red {
    color: #DD4D40;
}

.green {
  color: #1AA260;
}

.blue {
    color: #3E82F7;
}

.bg-red {
  background-color: #FFCCCB;
}

.bg-blue {
  background-color: #CCCBFF;
}

.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  color: #111111;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #f1f1f1;
}

/* Custom CSS from here on */
/* box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px; */

.comment-button {
  font: bold 11px Arial;

  display: flex;
  /* align-items: center; */
  justify-content: center; 

  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px;

  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}


/* CSS */
a.post-link {
    font-family: Helvetica; /* "wigendatypewrite-bold" */
    font-size: 25px;
    font-weight: semi-bold;
    color: rgba(34, 93, 212, 0.94);
}

/* NEW */
.post-title {
  font-family: Helvetica;
  font-size: 30px;
  color: rgba(66, 135, 245, 1);
}

a.commentlink {

  background: #fff;
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  
  /* color: inherit; */
  color: #3e4e5c; /* grey */
  text-decoration: none !important;

  /* pink shadow */
  /* box-shadow: rgba(240, 46, 170, 0.4) 3px 3px, rgba(240, 46, 170, 0.3) 6px 6px, rgba(240, 46, 170, 0.1) 9px 9px; */

  /* blue shadow */
  box-shadow: rgba(79, 192, 240, 0.4) 3px 3px, rgba(79, 192, 240, 0.3) 6px 6px, rgba(79, 192, 240, 0.1) 9px 9px;
  
  
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;

  padding: 15px 30px 15px 30px;

  position: relative;
  text-align: left;

  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

a.commentlink:hover
{
   transform: scale(1.05) translateY(.15px);
   color: rgba(10, 99, 242, 0.8); /* dark blue */
   text-decoration: none;
}

p.vspace {
  margin-bottom: 1cm;
}

/* CSS for google doc */
.google-doc {
  position: absolute;
  width: 750px;
  height: 500px;
  background-color: #fff;
  transform-origin: top left;
  transition: all 100ms ease-in-out !important;
  box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.32);
  
  /*
  &:after {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 500px;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 93%,rgba(255,255,255,1) 100%);
    content: "";
  }
  */

  /* the table */
  iframe {
    border: 10px;
    width: 750px;
    height: 500px;
  }

}

div.google-docs-iframe {

  bottom: 0;
  width: 750px;
  height: 300px;
  background-color: #fff;

  transform-origin: top left;
  transition: all 100ms ease-in-out !important;
  box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.32);

  /* the table */
  iframe {
    border: none;

    overflow-y: hidden;

    position: relative; 
    width: 100%;
    height: 100%; 
    top: 0; left: 0;
  }
}

/* TAGS AND REWARDS */

a.positive_reward
{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;

  background-color: white;
  color: #01cc65;

  border: 2px solid #01cc65;
  border-radius: 5px;
  padding: 1px 5px;
  align-items: center;
}

a.negative_reward
{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;

  background-color: white;
  color: #f77272;

  border: 2px solid #f77272;
  border-radius: 5px;
  padding: 1px 5px;
  align-items: center;
}

a.positive_reward:hover
{
  /* cursor: cell; */
  text-decoration: none;

  background-color: #01cc65;
  color: white;
}

a.negative_reward:hover
{
  /* cursor: cell; */
  text-decoration: none;

  background-color: #f77272;
  color: white;
}

a.tag
{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;

  background-color: white;
  color: #4fc0f0;

  border: 2px solid #4fc0f0;
  border-radius: 5px;
  padding: 1px 5px;
  align-items: center;
}

a.tag:hover
{
  /* cursor: cell; */
  text-decoration: none;

  background-color: #4fc0f0;
  color: white;
}

/* tags section */

a.category-head
{
  text-decoration: none;
  
  margin-bottom: 20px;
  margin-right: 100%;
  width: 50%;

  font-family: 'Poppins', sans-serif;
  font-size: 20px;

  background-color: white;
  color: #4fc0f0;

  border: 2px solid #4fc0f0;
  border-radius: 5px;
  padding: 1px 5px;

  align-items: center;
  text-align: center;

  float: left;

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}


a.category-head:hover{
  background-color: #4fc0f0;
  color: white;
  transition: 0.3s;
}

a.category-head:focus{
  background-color: #4fc0f0;
  color: white;
  transition: color 0.7s ease-out, background-color 0.5s ease-out;
}

div.acc_reward
{
  float:right;
  margin:15px; 
  cursor:pointer; 
  text-decoration: none;
}

a.acc_reward_text
{
  color: black;
}

a.acc_reward
{
  color: black;
  font-weight: 500;
}

a.acc_reward:hover
{
  text-decoration: none;
  color: black;
}


a.reset_mpd_button {

  background: #fff;
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  
  /* color: inherit; */
  color: #3e4e5c; /* grey */
  text-decoration: none !important;

  box-shadow: rgba(220, 20, 60, 0.3) 10px 10px;
  
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;

  padding: 15px 30px 15px 30px;

  position: relative;
  text-align: left;

  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

a.reset_mpd_button:hover
{
  text-decoration: none;
  transform: scale(1.05) translateY(10px) translateX(10px);
  color: rgba(220, 20, 60, 0.75); /* red */
  box-shadow: rgba(220, 20, 60, 0.01) 10px 10px;


  transition: color 0.5s;
}
