---
layout: default
---

  <div class="img-block" style="width: 400px; float:left; position:absolute; left:70px; top:150px; opacity: 1.0;">
    <img class="home" src="/images/home/computation_graph.png"/>
  </div>

  <div class="img-block" style="width: 400px; float:right; position:absolute; right:150px; top:400px;">
    <img class="home" src="/images/home/cart_pole.gif"/>
  </div>

  <div class="img-block" style="width: 250px; float:left; position:absolute; left:150px; top:700px;">
    <img class="home" src="/images/home/lunar_lander.gif"/>
  </div>

  <div class="img-block" style="width: 270px; float:left; position:absolute; right:150px; top:1100px;">
    <img class="home" src="/images/home/mountain_car.gif"/>
  </div>

  <div class="img-block" style="width: 300px; float:left; position:absolute; left:120px; top:1300px;">
    <img class="home" src="/images/home/brain_tumour.png"/>
  </div>

<!-- post overview site -->
<em style="font-style: normal; float: right; opacity: 0.75">(👷) == work in progress</em>

<div class="home" style="">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}

        <!-- show a thumbnail -->
        <a class="img-block" href="{{ post.url | relative_url }}" style="width: 100px; float:left; margin:10px;">
          <img src="{{post.thumbnail}}"/>
        </a>

      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}" onclick="updateAccReward({{post.reward}})"> <!--onclick: update reward-->
            {{ post.title | escape }}
          </a>
        </h3>
        <!-- tags/ reward -->
        <div class="post-categories" style="width: 100%; margin:10px; margin-left: 120px">

          {% if post %}
            {% assign tags = post.tags %}
            {% assign reward = post.reward %}
            {% assign positive_reward = post.positive_reward %}
          {% else %}
            {% assign tags = page.tags %}
            {% assign reward = page.reward %}
            {% assign positive_reward = post.positive_reward %}
          {% endif %}

          <!-- display post reward -->
          <!--
          {% if post.reward %}
            {% if post.positive_reward %}
            <a class="positive_reward" href="{{site.baseurl}}/mdp">reward: {{reward}}&nbsp;</a>
            {% else %}
            <a class="negative_reward" href="{{site.baseurl}}/mdp">reward: {{reward}}&nbsp;</a>
            {% endif %}
          {% endif %}
        -->

          <!-- display post tags -->

          {% for tag in tags %}
            <a class="tag" href="{{site.baseurl}}/tags" style="padding:3px;">{{tag}}</a>
            {% unless forloop.last %}
            {% endunless %}
          {% endfor %}

        </div>

        <!-- excerpts -->
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  {%- endif -%}

</div>